<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/stylesheets/about.css" />
    <title>PurrFect</title>
    </head>
    <style type="text/css">
        i{
            padding:5px;
        }
        body{
            height:100%;
            background-repeat: no-repeat;
            background-image: url("/image/bg.jpg");
            background-size: cover;
            background-position: center;
            background-color: black;
           
        }
        #content{
            padding-top: 25%;
            margin:0 auto;
            text-align: center;
            align-content: center;
        }
        #title{
            font-family: 800;
            font-size: 5em;
            text-shadow: 5px 5px 10px black;
            color: white;
            text-align: center;
        }
        #subtitle{
            font-family: bold;
            font-size: 2em;
            text-shadow: black;
            color: white;
            text-align: center;
            text-shadow: 5px 5px 10px black;
        }
        html{
            height: 100%;
        }
        hr{
            background-color: azure;
            width:50%;
        }
        #bttn{
            color: white;
            font-weight: bolder;
        }
        #bttn:hover{
            color:black;
        }
    
    </style>
    <body>
        
        <div id="notfound" style="margin-bottom: 0;height:800px;" class=" d-none d-md-block" >
            <div class="notfound" style="margin-bottom: 0;">
                <div class="notfound-404" style="margin-bottom: 0;">
                    <h1 style="margin-bottom: 0;height:70px;"> Purrfect</h1>
                    
                </div>
                
                <div class="notfound-404" style="margin-bottom: 5px;">
                    <h3  > Social platform for your pets. </h3>  
                </div>
                <div class="text-center" style="color:white;">
                    <span style="font-size: 30px; font-weight: bolder;">  We </span>here at <em> Purrfect  </em>have created a social media platform for your pets.Here you can create accounts of your pets and simultaneously post photos view other posts and the best part make new friends everyday !
                    <p> For the pet lovers out there, the special bond between you and your furry friend is something that only someone who owns a pet can truly understand. 
                        This all inclusive community is lets users create Facebook-style profiles of their pets- browse other pets, upload pics and comment on pictures in an effort to create first worldwide map of our furry friends!.This is a Non-profitable organization with an aim to provide people a better platform for pet related things !(Of coure you gonna enjoy too) There's nothing pretty much to explain , the website is self explainatory.So keep posting , HAVE FUN!</p>
                    <hr style="color:white">
                    <div> CREATED AND DESIGNED BY</div>
                    <hr>
                    <div class="row">
                        <div class="col-6" style="border-right: 1px solid white;">
                            <br>
                            <p class="text-center pt-3" style="color:white;"> <i class="fas fa-paw"></i> Bhavya Mehta</p>
                            <p class="text-center" style="color:white;"> B.Tech(SY) in Computer Engineering. VJTI</p>
                        </div>
                        <div class="col-6">
                                <img src="/image/me.jpg" alt="" style="width:120px;height:120px;">
                        </div>
                    </div>
                    <br>
                    
                    <div>CONTACT US AT</div>
                    <hr>
                    <p class="text-center" style="color: azure;"><span><i class="far fa-envelope"></i></span> <a href="mailto:bdmehta_b19@ce.vjti.ac.in" style="color: azure;text-transform: lowercase;"> bdmehta_b19@ce.vjti.ac.in</a></p>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div class="d-md-none">
            <div>
                <p id="pursmall"> Purrfect</p>
            </div>
            <div class="text-center" style="color:white;">
                <span style="font-size: 30px; font-weight: bolder;">  We </span>here at <em> Purrfect  </em>have created a social media platform for your pets.Here you can create accounts of your pets and simultaneously post photos view other posts and the best part make new friends everyday !
                <p> For the pet lovers out there, the special bond between you and your furry friend is something that only someone who owns a pet can truly understand. 
                    This all inclusive community is lets users create Facebook-style profiles of their pets- browse other pets, upload pics and comment on pictures in an effort to create first worldwide map of our furry friends!.</p>
                <hr style="color:white">
                <div> CREATED AND DESIGNED BY</div>
                <hr>
                <div class="row">
                    <div class="col-6" style="border-right: 1px solid white;">
                        <br>
                        <p class="text-center pt-3" style="color:white;"> <i class="fas fa-paw"></i> Bhavya Mehta</p>
                        <p class="text-center" style="color:white;"> B.Tech(SY) in Computer Engineering. VJTI</p>
                    </div>
                    <div class="col-6">
                            <img src="/image/me.jpg" alt="" style="width:120px;height:120px;">
                    </div>
                </div>
                <br>
                
                <div>CONTACT US AT</div>
                <hr>
                <p class="text-center" style="color: azure;"><span><i class="far fa-envelope"></i></span> <a href="mailto:bdmehta_b19@ce.vjti.ac.in" style="color: azure;text-transform: lowercase;"> bdmehta_b19@ce.vjti.ac.in</a></p>
                
                <br>

                <br>
               
            </div>
        </div>
       
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>