@media screen and (min-width:601px){
  #navBar{
    background-color: black;
    color: white;
    border-bottom: 2px solid white;
  }
}
#navBar{
  background-color: black;
  color: white;
 
}

#navBar2{
  background-color: black;
  color: white;
  font-size: 12px;
  border-top:1px solid white;
}

.navbar a{
  color:whitesmoke
}
#navBar a:hover{
  color: black;
  font-weight: bolder;
  font-size: 22px;
}


.purrfect{

  font-family: 'Montserrat', sans-serif;

  font-size: 26px;
  font-weight: 900;
  
  color:white;
  text-transform: uppercase;
  text-shadow: -2px -1px 0px #8400ff, 1px 1px 0px #ff005a;
  letter-spacing: -3px;

}

.purrfect:hover{
color:black;
text-shadow: 1px 1px 0px white;
}



#navBar:hover{
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3); ;
  -webkit-animation: rainbow 12s ease ;
  -z-animation: rainbow 12s ease ;
  -o-animation: rainbow 12s ease ;
  animation: rainbow 12s ease ;
  background-size: 1800% 1800%;
}


@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.dropdown{
  transition: 0.3s all;
}

/*============================================================left */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 240px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color:white; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  margin-top: 75px;
  border-right:1px solid lightgray;
  box-shadow: 0 0 10px gray;
  
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color:black;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover{
  background-color: whitesmoke;
  transition: all 0.5s;
  box-shadow: 0px 2px 1px gray;
}



/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 16px;}
}
/*============================================right */


.sidenavright {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 280px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color:white; /* Black */
  overflow-y:scroll; /* Disable horizontal scroll */
  margin-top: 75px;
  border-left:1px solid lightgray;
  
}

/* The navigation menu links */
.sidenavright a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color:black;
  display: block;
}

/* When you mouse over the navigation links, change their color */




.sidenavright a:hover{
  text-decoration: underline;
}




/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 16px;}
}
/* ======================================================================*/
.petmate{
  margin: 30px 0 10px 0;
  font-weight: 800;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 2px 2px 0px cyan;
}


#xyz{
  font-weight: bolder;
font-style: italic;
  color:black
}




.liked{
  background-color: yellow;
}

#commentpage{
color: black;
text-decoration: none;
}
#commentpage:hover{
font-weight: bolder;

}

@media screen and (max-width: 600px) {
  .postimg {
   width:100%;
   height:240px;
   border-radius: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-position: center;
  image-resolution: initial;
  }
  .purrfect{
    font-size: 18px;
    text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #ff005a;
  }
}
@media  screen and ( min-width: 601px) {
  .postimg {
   width:100%;
   height:300px;
   border-radius: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-position: center;
  image-resolution: initial;
  }
  section{
    box-shadow: 0px 0px 8px black;
   
  }
  .purrfect{
    font-size: 18px;
    text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #ff005a;
  }
}
@media only screen and ( min-width: 900px) {
  .postimg {
   width:100%;
   height:380px;
   border-radius: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-position: center;
  image-resolution: initial;
  }
  section{
    box-shadow: 0px 0px 8px black;
  }
}


#footer{
bottom:0;
left:0;
width:100%;
background-color: black;
}


/*============================================================left */
.sidenav5 {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 210px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:white; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    margin-top: 75px;
    border-right:1px solid lightgray;
    
  }

  /* The navigation menu links */
  .sidenav5 a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color:black;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
.sidenav5 a:hover{
    background-color: whitesmoke;
    transition: all 0.5s;
    box-shadow: 0px 2px 1px gray;
}
  
  /* Style page content */
  .main5 {
    margin-left:210px; /* Same as the width of the sidebar */
   
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 16px;}
  }
/*============================================right */


.sidenavright6 {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color:white; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    margin-top: 75px;
    border-left:1px solid lightgray;
    
  }
  
  /* The navigation menu links */
  .sidenavright6 a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color:black;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */


  /* Style page content */
.main26 {
    margin-right:250px; /* Same as the width of the sidebar */
    
  }
  .sidenavright6 a:hover{
    text-decoration: underline;
  }
  


  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 16px;}
  }
/* ======================================================================*/

/*.petmate{
    margin: 30px 0 10px 0;
    font-weight: 800;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 0px cyan;
}


#xyz{
    font-weight: bolder;
  font-style: italic;
    color:black
}

section{
    box-shadow: 0px 0px 8px black;
}

.card-img-top{
    border-radius: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height:300px;
    background-position: center;
    image-resolution: initial;
}
.liked{
    background-color: yellow;
}

#commentpage{
  color: black;
  text-decoration: none;
}
#commentpage:hover{
  font-weight: bolder;
  
}


#footer{
  bottom:0;
  left:0;
  width:100%;
  background-color: black;
}

*/